.activity-card {
  background: white;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  transition: 0.3s;
}

.activity-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}

.card {
  background: rgba(255, 255, 255, 0.9);
  padding: 20px;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Ajout de la transition */
}

.card:hover {
  transform: translateY(-10px); /* Légère remontée de la carte */
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2); /* Ombre plus prononcée */
}

.card1 {
  position: relative;
  width: 200px;
  height: 150px;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}
.card1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card1:hover .overlay {
  opacity: 1;
}


.card2 {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 15px;
  overflow: hidden;
  cursor: pointer;
  background: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  text-align: center;
  transition: all 0.7s ease-in-out;
}
.card2:hover {
  width: 150px;
  height: 200px;
}
.card2 img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.card2 p,
.card2 h4 {
  display: none;
}
.card2:hover p,
.card2:hover h4 {
  display: block;
  font-size: 12px;
  margin: 5px 0 0;
}
.card2 p,
.card2 h4 {
  display: none;
}
.card2:hover p,
.card2:hover h4 {
  display: block;
  font-size: 12px;
  margin: 5px 0 0;
}

.avisM {
  border-radius: 20px;
  width: 200px;
  height: 20vh;
}
.fa {
  /* padding: 20px; */
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  /* Suppression des propriétés flex */
}